@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit.LeftContentKit
@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit.MiddleContentKit

<div class="col-md-8 col-lg-9">
    <div id="site-content">
        <div class="row">

            <LeftContent />

            <MiddleContent />

        </div>
    </div>
</div>
