@page "/"
@page "/home"
@page "/landing"

<PageTitle>Index</PageTitle>

<div class="container">

    <Applantus.Tingum.WebApp.Pages.IndexPageKit.SpotlightContentKit.SpotlightContent />

    <!-- benkimz: feature an advert -->
    <div class="section add inner-add">
        <a href="#"><img class="img-fluid" src="images/post/add/add2.jpg" alt="Image" /></a>
    </div>

    <Applantus.Tingum.WebApp.Pages.IndexPageKit.LatestDispatchKit.LatestDispatch />

    <Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.ContentDigest />
</div>

<Applantus.Tingum.WebApp.Pages.IndexPageKit.XFeed />

<Applantus.Tingum.WebApp.Pages.IndexPageKit.FooterWidget />

@* 
    * temporarily stop the overlay
<Applantus.Tingum.WebApp.Pages.IndexPageKit.SubscribeOverlay /> *@
