@page "/mails"
@using Applantus.Tingum.Core.Services;
@using Applantus.Tingum.Core.Services.EmailService.Models;

@inject IEmailSender mail

<h3>SendGridTest</h3>
<form>
    From:
    <input type="email" name="from_email" /><br /><br />
    To: 
    <input type="email" name="to_email" /> <br /><br />
    Subject:
    <input type="text" /><br /><br />
    Body:
    <textarea rows="10" cols="20"></textarea> <br /><br />
    <button type="button" onclick="@(() => SendEmail())">Send Email</button>
</form>

@code {
    private string FromEmail { get; set; } = string.Empty; 
    private string TargetEmail { get; set; } = string.Empty; 
    private string Subject { get; set; } = string.Empty; 
    private string Body { get; set; } = string.Empty; 

    private async void SendEmail()
    {
        MailerResponse r = await mail.SendSimpleAsync(
            from: new EmailEntity("auth@beamtm.com", "Authentication Servive"),
            to: new List<EmailEntity>
            {
                new EmailEntity("benkim3619@gmail.com", "Benard Kimani ~ benkimz"), 
                new EmailEntity("contactbeamtm@gmail.com", "Beamtm Gmail Contact"), 
            },
            cc: new List<EmailEntity>
            {
                new EmailEntity("nancynjeri592@gmail.com", "Manash Nanje")
            }, 
            subject: "Final System Test: benkimz", 
            body: "<h2>Greeting from me! How are you?"
    );

        if (r.IsSuccess)
        {
            Console.WriteLine("***************** MAILS SENT ****************");
        }
        else
        {
            Console.WriteLine($"ERRORR {r.Message}");
        }
    }
}
