@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit
@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.SocialConnectPanelKit

<div class="section">
    <div class="row">

        <GlobalDigestColumn />

        <SocialConnectPanel />

    </div>
</div>
