<div class="section video-section">
    <h1 class="section-title title">Watch Video</h1>
    <div class="cat-menu">
        <a href="listing.html">See all</a>
    </div>
    <div class="post video-post medium-post">
        <div class="entry-header">
            <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
            </div>
        </div>
        <div class="post-content">
            <div class="video-catagory"><a href="#">World</a></div>
            <h2 class="entry-title">
                <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
            </h2>
        </div>
    </div><!--/post-->

    <div class="video-post-list">
        <ul>
            <li>
                <div class="post video-post small-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="video-catagory"><a href="#">World</a></div>
                        <h2 class="entry-title">
                            <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                        </h2>
                    </div>
                </div><!--/post-->
            </li>
            <li>
                <div class="post video-post small-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="video-catagory"><a href="#">Business</a></div>
                        <h2 class="entry-title">
                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                        </h2>
                    </div>
                </div><!--/post-->
            </li>
            <li>
                <div class="post video-post small-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="video-catagory"><a href="#">World</a></div>
                        <h2 class="entry-title">
                            <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                        </h2>
                    </div>
                </div><!--/post-->
            </li>
        </ul>
    </div>
</div> <!-- /.video-section -->