<div class="col-lg-4 col-md-6 tr-sticky">
    <div class="middle-content theiaStickySidebar">
        <div class="section sports-section">
            <h1 class="section-title title">Sports</h1>
            <div class="cat-menu">
                <a href="listing-sports.html">See all</a>
            </div>
            <div class="football-result post">
                <div class="featured-result">
                    <h2 class="league-name">Premier League</h2>
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="images/gallery/league1.png" alt="Image" />
                            <span class="match-result">3</span>
                        </div>
                        <div class="col-4">
                            <span class="verses">VS</span>
                            <span class="match-time">90:00</span>
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="images/gallery/league2.png" alt="Image" />
                            <span class="match-result">0</span>
                        </div>
                    </div>
                </div>
                <div class="league-result">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                                    <span class="team-name">Bra</span>
                                </div>
                                <div class="col-4">
                                    <span class="match-result">3-2</span>
                                </div>
                                <div class="col-4">
                                    <span class="team-name">Arg</span>
                                    <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                                    <span class="team-name">Arg</span>
                                </div>
                                <div class="col-4">
                                    <span class="match-result">5-4</span>
                                </div>
                                <div class="col-4">
                                    <span class="team-name">Bra</span>
                                    <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                                    <span class="team-name">Bra</span>
                                </div>
                                <div class="col-4">
                                    <span class="match-result">1-2</span>
                                </div>
                                <div class="col-4">
                                    <span class="team-name">Arg</span>
                                    <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/others/sports1.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div>
            </div><!--/post-->

            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/sports/2.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div>
            </div><!--/post-->

            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/sports/1.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div>
            </div><!--/post-->

        </div><!--/.sports-section -->

        <div class="section">
            <div class="add inner-add">
                <a href="#"><img class="img-fluid" src="images/post/add/add5.jpg" alt="Image" /></a>
            </div>
        </div>

        <div class="section video-section">
            <h1 class="section-title title">Watch Video</h1>
            <div class="cat-menu">
                <a href="listing.html">See all</a>
            </div>
            <div class="post video-post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="post-content">
                    <div class="video-catagory"><a href="#">World</a></div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div>
            </div><!--/post-->

            <div class="video-post-list">
                <ul>
                    <li>
                        <div class="post video-post small-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="video-catagory"><a href="#">World</a></div>
                                <h2 class="entry-title">
                                    <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                                </h2>
                            </div>
                        </div><!--/post-->
                    </li>
                    <li>
                        <div class="post video-post small-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="video-catagory"><a href="#">Business</a></div>
                                <h2 class="entry-title">
                                    <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                </h2>
                            </div>
                        </div><!--/post-->
                    </li>
                    <li>
                        <div class="post video-post small-post">
                            <div class="entry-header">
                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-WlqrkXImsk" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="video-catagory"><a href="#">World</a></div>
                                <h2 class="entry-title">
                                    <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
                                </h2>
                            </div>
                        </div><!--/post-->
                    </li>
                </ul>
            </div>
        </div> <!-- /.video-section -->

        <div class="section business-section">
            <h1 class="section-title">Business</h1>
            <div class="cat-menu">
                <a href="listing.html">See all</a>
            </div>
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/business/4.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">We are seeing the effects of the minimum wage san francisco</a>
                    </h2>
                </div>
            </div><!--/post-->

            <div class="stock-exchange text-center">
                <div class="stock-exchange-zone">
                    <a href="#"><img class="img-fluid" src="images/gallery/stock.png" alt="Image" /></a>
                </div>
                <div class="stock-header">
                    <div class="row">
                        <div class="col-4">Name</div>
                        <div class="col-4">Price</div>
                        <div class="col-4">%+/-</div>
                    </div>
                </div>
                <div class="stock-reports">
                    <div class="com-details">
                        <div class="row">
                            <div class="col-4 com-name">BP</div>
                            <div class="col-4 current-price">388.65</div>
                            <div class="col-4 current-result">+0.58 <i class="fa fa-caret-up"></i></div>
                        </div>
                    </div>
                    <div class="com-details">
                        <div class="row">
                            <div class="col-4 com-name">Royal Ba...</div>
                            <div class="col-4 current-price">318.25</div>
                            <div class="col-4 current-result">+0.32 <i class="fa fa-caret-up"></i></div>
                        </div>
                    </div>
                    <div class="com-details">
                        <div class="row">
                            <div class="col-4 com-name">Inmarsat</div>
                            <div class="col-4 current-price">214.19</div>
                            <div class="col-4 current-result">-0.43 <i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.business-section -->

    </div><!--/.middle-content-->
</div>