@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit.MiddleContentKit.SportsNewsWidgetKit
@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit.MiddleContentKit.VideoPostsWidgetKit
@using Applantus.Tingum.WebApp.Pages.IndexPageKit.ContentDigestKit.GlobalDigestColumnKit.MiddleContentKit.BusinessNewsWidgetKit

<div class="col-lg-4 col-md-6 tr-sticky">
    <div class="middle-content theiaStickySidebar">
        <SportsNewsWidget />

        <div class="section">
            <div class="add inner-add">
                <a href="#"><img class="img-fluid" src="images/post/add/add5.jpg" alt="Image" /></a>
            </div>
        </div>

        <VideoPostsWidget />

        <BusinessNewsWidget />

    </div>
</div>