<div class="section sports-section">
    <h1 class="section-title title">Sports</h1>
    <div class="cat-menu">
        <a href="listing-sports.html">See all</a>
    </div>
    <div class="football-result post">
        <div class="featured-result">
            <h2 class="league-name">Premier League</h2>
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="images/gallery/league1.png" alt="Image" />
                    <span class="match-result">3</span>
                </div>
                <div class="col-4">
                    <span class="verses">VS</span>
                    <span class="match-time">90:00</span>
                </div>
                <div class="col-4">
                    <img class="img-fluid" src="images/gallery/league2.png" alt="Image" />
                    <span class="match-result">0</span>
                </div>
            </div>
        </div>
        <div class="league-result">
            <ul>
                <li>
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                            <span class="team-name">Bra</span>
                        </div>
                        <div class="col-4">
                            <span class="match-result">3-2</span>
                        </div>
                        <div class="col-4">
                            <span class="team-name">Arg</span>
                            <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                            <span class="team-name">Arg</span>
                        </div>
                        <div class="col-4">
                            <span class="match-result">5-4</span>
                        </div>
                        <div class="col-4">
                            <span class="team-name">Bra</span>
                            <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid" src="images/gallery/team1.png" alt="Image" />
                            <span class="team-name">Bra</span>
                        </div>
                        <div class="col-4">
                            <span class="match-result">1-2</span>
                        </div>
                        <div class="col-4">
                            <span class="team-name">Arg</span>
                            <img class="img-fluid" src="images/gallery/team2.png" alt="Image" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="post medium-post">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img class="img-fluid" src="images/others/sports1.jpg" alt="Image" />
            </div>
        </div>
        <div class="post-content">
            <div class="entry-meta">
                <ul class="list-inline">
                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                    <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                    <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                </ul>
            </div>
            <h2 class="entry-title">
                <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
            </h2>
        </div>
    </div><!--/post-->

    <div class="post medium-post">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img class="img-fluid" src="images/post/sports/2.jpg" alt="Image" />
            </div>
        </div>
        <div class="post-content">
            <div class="entry-meta">
                <ul class="list-inline">
                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                    <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                    <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                </ul>
            </div>
            <h2 class="entry-title">
                <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
            </h2>
        </div>
    </div><!--/post-->

    <div class="post medium-post">
        <div class="entry-header">
            <div class="entry-thumbnail">
                <img class="img-fluid" src="images/post/sports/1.jpg" alt="Image" />
            </div>
        </div>
        <div class="post-content">
            <div class="entry-meta">
                <ul class="list-inline">
                    <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                    <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                    <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                </ul>
            </div>
            <h2 class="entry-title">
                <a href="news-details.html">Our closest relatives aren't fans of daylight saving time</a>
            </h2>
        </div>
    </div><!--/post-->

</div><!--/.sports-section -->