@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<PageTitle>Applantus.Tingum.WebApp</PageTitle>

<div id="main-wrapper" class="homepage">

    <Applantus.Tingum.WebApp.Shared.MainLayoutKit.NavigationHeader/>

    @Body

</div>

<Applantus.Tingum.WebApp.Shared.MainLayoutKit.BaseFooter/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("mainJsSetUp");
        }
    }
}