<div class="section lifestyle-section">
    <h1 class="section-title">Life Style</h1>
    <div class="cat-menu">
        <a href="listing-life-style.html">See all</a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/lifestyle/1.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Naomi & Liev hit the beach, plus more new celeb pics</a>
                    </h2>
                </div>
            </div><!--/post-->
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/lifestyle/2.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">18 Great Performances in Mediocre Movies in 2018</a>
                    </h2>
                </div>
            </div><!--/post-->
        </div>
        <div class="col-lg-6">
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/lifestyle/3.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">How the stars celebrated Christmas on Instagram</a>
                    </h2>
                </div>
            </div><!--/post-->
            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/lifestyle/4.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Celeb Role Models You Can Feel Good About</a>
                    </h2>
                </div>
            </div><!--/post-->
        </div>
    </div>
</div><!--/.lifestyle -->