<div class="section technology-news">
    <h1 class="section-title">Technology</h1>
    <div class="cat-menu">
        <a href="listing.html">See all</a>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/t1.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                            <li class="comments"><i class="fa fa-comment-o"></i><a href="#">189</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">We Are Seeing The Effects Of The Minimum Wage Rise In San Francisco</a>
                    </h2>
                    <div class="entry-content">
                        <p>Text of the printing and typesetting industry orem Ipsum has been the industry standard dummy text ever since....</p>
                    </div>
                </div>
            </div><!--/post-->
        </div>
        <div class="col-lg-4">
            <div class="post small-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/t2.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Samsung Pay will support online shop</a>
                    </h2>
                </div>
            </div><!--/post-->
            <div class="post small-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <img class="img-fluid" src="images/post/t3.jpg" alt="Image" />
                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 15, 2018 </a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="news-details.html">Why is the media so afraid of Facebook?</a>
                    </h2>
                </div>
            </div><!--/post-->
        </div>
    </div>
</div><!--/technology-news-->