<div class="col-md-4 col-lg-3 tr-sticky">
    <div id="sitebar" class="theiaStickySidebar">
        <div class="widget follow-us">
            <h1 class="section-title title">Follow Us</h1>
            <ul class="list-inline social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div><!--/#widget-->

        <div class="widget">
            <div class="add">
                <a href="#"><img class="img-fluid" src="images/post/add/add3.jpg" alt="Image" /></a>
            </div>
        </div><!--/#widget-->

        <div class="widget">
            <h1 class="section-title title">This is Rising!</h1>
            <ul class="post-list">
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/1.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">World</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/2.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Business</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/3.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Sports</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/4.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Technology</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/5.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Politics</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/6.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Health</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/7.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Lifestyle</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/rising/8.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Entertainment</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
                <li>
                    <div class="post small-post">
                        <div class="entry-header">
                            <div class="entry-thumbnail">
                                <img class="img-fluid" src="images/post/7.jpg" alt="Image" />
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="video-catagory"><a href="#">Business</a></div>
                            <h2 class="entry-title">
                                <a href="news-details.html">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </div><!--/post-->
                </li>
            </ul>
        </div><!--/#widget-->

        <div class="widget">
            <div class="add">
                <a href="#"><img class="img-fluid" src="images/post/add/add6.jpg" alt="Image" /></a>
            </div>
        </div><!--/#widget-->

        <div class="widget weather-widget">
            <div id="weather-widget">
                <span class="weather-icon">
                    <img src="images/others/weather.png" alt="Icon" class="img-fluid">
                </span>
                <span class="temp"></span>
                <span class="weather-humidity">87%</span>
                <span class="weather-wind">3.6 MPH</span>
            </div>
        </div><!--/#widget-->

        <div class="widget meta-widget">
            <h1 class="section-title title">Widget</h1>
            <div class="meta-tab">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation"><a href="#author" data-toggle="tab"><i class="fa fa-user"></i>Authors</a></li>
                    <li role="presentation" class="active"><a href="#comment" data-toggle="tab"><i class="fa fa-comment-o"></i>Comments</a></li>
                    <li role="presentation"><a href="#tag" data-toggle="tab"><i class="fa fa-inbox"></i>Tag</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="author">
                        <ul class="authors-post">

                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Jhon Due,</a></li>
                                                <li class="publish-date"><a href="#">Dec 11, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Matt Cloey</a></li>
                                                <li class="publish-date"><a href="#">Dec 15, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">KOlony Wispe</a></li>
                                                <li class="publish-date"><a href="#">Nov 25, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>

                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Matt Cloey</a>,</li>
                                                <li class="publish-date"><a href="#">Nov 5, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Mike Tinson</a>,</li>
                                                <li class="publish-date"><a href="#">Nov 18, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>

                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane active show" id="comment">
                        <ul class="comment-list">
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Matt Cloey ,</a></li>
                                                <li class="publish-date"><a href="#">Dec 15, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Jhon Due ,</a></li>
                                                <li class="publish-date"><a href="#">Dec 11, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">KOlony Wispe ,</a></li>
                                                <li class="publish-date"><a href="#">Nov 25, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">KOlony Wispe</a></li>
                                                <li class="publish-date"><a href="#">Nov 25, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                            <li>
                                <div class="post small-post">
                                    <div class="post-content">
                                        <div class="entry-meta">
                                            <ul class="list-inline">
                                                <li class="post-author"><a href="#">Mike Tinson ,</a></li>
                                                <li class="publish-date"><a href="#">Nov 18, 2018 </a></li>
                                            </ul>
                                        </div>
                                        <h2 class="entry-title">
                                            <a href="news-details.html">3 students arrested after body-slamming principal</a>
                                        </h2>
                                    </div>
                                </div><!--/post-->
                            </li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tag">
                        <ul class="list-inline tag-cloud">
                            <li><a href="#">Business</a>,</li>
                            <li><a href="#">Creative</a>,</li>
                            <li><a href="#">Marketing</a>,</li>
                            <li><a href="#">Bloging</a>,</li>
                            <li><a href="#">Science</a>,</li>
                            <li><a href="#">Multipurpose</a>,</li>
                            <li><a href="#">Graphics</a>,</li>
                            <li><a href="#">Art</a>,</li>
                            <li><a href="#">Politics</a>,</li>
                            <li><a href="#">News</a>,</li>
                            <li><a href="#">Sports</a>,</li>
                            <li><a href="#">World</a>,</li>
                            <li><a href="#">Lifestyle</a>,</li>
                            <li><a href="#">Health</a>,</li>
                            <li><a href="#">Environment</a>,</li>
                            <li><a href="#">Entertainment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/#widget-->

    </div><!--/#sitebar-->
</div>